
*.lock


.vs/config/applicationhost.config
*.csproj
TongJiBBS/Startup.cs
TongJiBBS/Controllers/DemosController.cs
TongJiBBS/TongJiBBS.csproj
.vs/TongJiBBS/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.dll
*.config
*.csproj
*.json
*.ico
*.ide-wal
*.css
*.map
*.js
*.woff2
*.svg
*.ttf
*.eot
*.woff
*.pdb
*.json
*.html
TongJiBBS/Program.cs
